.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form{
  width: 500px;
}

.inputDiv{
  margin-bottom: 10px;
}

label{
  font-size: 16px;
  font-weight: bold;
}

input, select{
  width: 100%;
  padding: 8px 7px;
  font-size: 16px;
  border: 2px solid #4a5568;
  background-color: #2d3748;
  color: white;
  margin: 5px 0px;
  outline: none;
  border-radius: 10px;
  transition: 0.3s;
}

input::placeholder{
  color: lightgray;
}

input:focus{
  border-color: lightblue;
}

button{
  width: 100%;
  padding: 8px;
  margin: 16px 0px;
  background-color: green;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  transition: 0.3s;
}

button:hover{
  background-color: darkgreen;
}

.input-error{
  border-color: #fc8181;
}

.error{
  color: #fc8181;
  font-size: 12px;
  text-align: left;
}